
section {
  color: #fff;
  font-family: Roboto;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: 150px;
  margin: 0 0 0.75rem 0;
  text-align: center;
  color: #fff;
}


.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: #ff9e2c;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  background-image: url(https://thumbs.dreamstime.com/z/burmese-mohinga-rice-noodle-fish-soup-closeup-bowl-horizontal-table-241720128.jpg);
  background-repeat: no-repeat;
  background-size: 1000px;
  position: absolute;
  right: 0px;
  width: 50%;
}



p{
font-size: 20px;
text-align: center;

}

a{
  text-decoration: none;
  
}

ul{
   padding: 0px 0px 0px 140px;
   font-size: 18px;
}

ol{
  padding: 0px 0px 0px 140px;
  font-size: 18px;
}
