body.index{
    background: url(https://upload.wikimedia.org/wikipedia/commons/2/29/Mohnga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#anchor{
font-size: 300px;
position: absolute;
text-decoration: none;
color: #fff;
mix-blend-mode: overlay;
font-family: Roboto;
top: 35%;
margin: 0;
padding: 0;
}


