body.index{
    background-image: url(https://thumbs.dreamstime.com/z/burmese-mohinga-rice-noodle-fish-soup-closeup-bowl-horizontal-table-241720128.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

#anchor{
font-size: 300px;
position: absolute;
text-decoration: none;
color: #fff;
mix-blend-mode: overlay;
font-family: Roboto;
top: 35%;
margin: 0;
padding: 0;
}


